<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hapticForVibration</key>
	<false/>
	<key>videoFilter</key>
	<integer>5</integer>
	<key>enableMic</key>
	<true/>
	<key>volumeBumper</key>
	<false/>
	<key>fullScreenSettings</key>
	<false/>
	<key>periodicSave</key>
	<true/>
	<key>frameSkip</key>
	<integer>-1</integer>
	<key>disableSound</key>
	<false/>
	<key>allowExternalAudio</key>
	<false/>
	<key>controlOpacity</key>
	<real>0.5</real>
	<key>controlSize</key>
	<string>0.5</string>
	<key>controlPosition</key>
	<integer>1</integer>
	<key>controlPadStyle</key>
	<integer>0</integer>
	<key>showFPS</key>
	<false/>
	<key>showPixelGrid</key>
	<false/>
	<key>enableDropbox</key>
	<false/>
	<key>enableDropboxCellular</key>
	<false/>
	<key>currentProfile</key>
	<string>Default</string>
	<key>dbAppKey</key>
	<string>ks1ulr086qvvy1k</string>
	<key>dbAppSecret</key>
	<string>cd15jte9slez9wu</string>
	<key>vibrationStr</key>
	<integer>0</integer>
	<key>disableTouchScreen</key>
	<false/>
	<key>adv_timing</key>
	<false/>
	<key>depth</key>
	<integer>0</integer>
</dict>
</plist>
