<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeSmuME (OpenEmu Plug-in).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DeSmuME copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iNDS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iNDSRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB796CA415CDCBA200C59155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB8F3C171A53AC2600A80BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB3C6461501BC6D00E0C22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2C6BA01E207C20007F7F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF4D2981E29908D000BE522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
